.orange {
    background-color: orange;
}

.greenyellow {
    background-color: greenyellow;
}

.yellow {
    background-color: yellow;
}

.lightcoral {
    background-color: lightcoral
}

.salmon {
    background-color: salmon;
}

.bold {
    font-weight: bold;
    font-size: xx-large;
}